.btn-header{
    margin: 5px;
    padding: 7px 10px;
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    border-radius: 5px;
    transition: all 0.2s;
    color: #28a745;
}
.btn-header:hover{
    background-color: #28a745;
    color: white;
}
