body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/blob-scene-haikei.svg);
    background-size: cover;
    color: white;
    font-family: "Liberation Sans", serif;
    min-height: 100vh;
    height: 100%;
}


nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


nav button {
    padding: 10px;
    border-radius: 100px;
    border: transparent;
    min-width: 150px;
    margin: 5px;
    transition: ease-in-out 0.3s;
}




nav .boutons{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

nav .boutons1{
    visibility: hidden;
}

nav .titre{

    display: flex;
    justify-content: center;
}


.div-inscription {
    background-color: white;
    color : black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
}

.div-inscription form{
    display: flex;
    flex-direction: column;
}